    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="footer-info wow fadeInUp" data-wow-delay="0.2s">
              <div class="footer-image wow fadeInUp" data-wow-delay="0.1s">
                <img src="/static/images/logo.svg" alt="#">
              </div>
              <div class="footer-content wow fadeInUp" data-wow-delay="0.2s">
                <p>Zasper is a supercharged IDE purpose-built for data science, revolutionizing the world of interactive computing.
                  It offers a lightweight memory footprint, blazing-fast performance, and the ability to handle massive concurrency.</p>
              </div>
              <div class="footer-social wow fadeInUp" data-wow-delay="0.3s">
                <a href="https://www.linkedin.com/company/zasper"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://x.com/zasper_io/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://github.com/zasper-io"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="footer-menu-wraper wow fadeInUp" data-wow-delay="0.4s">
              <div>
                <div class="footer-menu wow fadeInUp" data-wow-delay="0.5s">
                  <h6>Resources</h6>
                  <a href="/blog">Blog</a>
                  <a href="/docs">Docs</a>
                </div>
              </div>
              <div>
                <div class="footer-menu wow fadeInUp" data-wow-delay="0.5s">
                  <h6>Org</h6>
                  <a href="#">Changelog</a>
                  <a href="#">Release Notes</a>
                </div>
              </div>
              <div>
                <div class="footer-menu wow fadeInUp" data-wow-delay="0.1s">
                  <h6>Community</h6>
                  <a href="/community" target="_blank">Slack</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-text">
              <p>©2024-2025 Prasun Anand | All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

<script>hljs.highlightAll();</script>

  </body>
</html>
