<button class="btn-fixed-bottom" ttype="button" data-bs-toggle="offcanvas" data-bs-target="#mobile-doc-menu" aria-controls="mobile-doc-menu">
    <i class="fa fa-arrow-circle-right"></i>
  </button>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobile-doc-menu" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      <div class="documentation-page-links wow fadeInUp">
        {% include docs-links.html %}
      </div>

    </div>
  </div>