<figure class="tut-figure">
  <div class="tut-shot is-strip">
    <span class="tut-ring" style="--tut-x: 111px; --tut-y: 41px; --tut-w: 16px; --tut-h: 16px"></span>
    <span class="tut-mark" style="--tut-x: 111px; --tut-y: 13px">1</span>

    <div class="tabHeader">
      <div class="tab is-active">
        <span class="file-mark file-mark-notebook">ipy</span>
        <span class="label">drift.ipynb</span>
        <span class="dirty" title="Unsaved"></span>
        <button class="z-icon-button on-chrome" title="Close"><svg class="z-icon"><use href="#i-x"></use></svg></button>
      </div>
      <div class="tab">
        <svg class="z-icon"><use href="#i-file"></use></svg>
        <span class="label">README.md</span>
        <button class="z-icon-button on-chrome" title="Close"><svg class="z-icon"><use href="#i-x"></use></svg></button>
      </div>
    </div>
  </div>
  <ul class="tut-legend">
    <li><span class="tut-mark is-inline">1</span><span>Edits this notebook has that the file on disk does not.</span></li>
  </ul>
</figure>
