{% include header2.html %}

    <section id="blog-sec">
      <div class="container">
        <div class="row">

          <div class="col-12 col-md-12 col-lg-9">

            {% for post in site.posts %}
            <div class="blog-list-item wow fadeInUp">
              <a href="{{ post.url }}.html">
                <div class="blog-list-item-image">
                  <img src="{{ post.banner }}" alt="#">
                  <span class="blog-list-item-badge new-blog">New</span>
                </div>
                <div class="blog-list-item-content">
                  <h2>{{ post.title }}</h2>
                  <div class="blog-published-info">
                    <span class="blog-post-date">{{ post.date | date: "%-d %B %Y"}} by</span>
                    <span class="blog-post-author">{{ post.author }}</span>
                  </div>
                  <p>{{ post.content | truncate:250 }}</p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </section>


{% include footer.html %}