{% include header2.html %}

    <section id="documentation-sec">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="documentation-sec-wraper">
              <div class="documentation-page-links wow fadeInUp">
                {% include docs-links.html %}
              </div>

              <div class="documentation-content-main">
                <div class="documentation-content-wraper">
                  <div class="documentation-title wow fadeInUp">
                    <h3 class="font-h3 fontw-400">{{ page.title }}</h3>
                  </div>
                  <div class="documentation-main-content wow fadeInUp">
                    <div markdown="1" class="col-sm-12"></div>{{ page.content }}</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% include nav.html %}

{% include footer.html %}