{% include header2.html %}

<section id="zasper-documentation">
  <div class="zasper-documentation-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="zasper-documentation-header-title">
            <h1 class="font-h1 fontw-300"><span class="fontw-400">Download Zasper today!</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<section id="documentation-sec">
  <div class="container">
    <div class="row">
      <div class="col-12">
        

        <h3 class="font-h4 fontw-400">Binaries Install</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Platform</th>
              <th scope="col">Download Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mac x64</td>
              <td>
                <a href="https://github.com/zasper-io/zasper/releases/download/v0.0.1/zasper-0.0.1-mac.zip"
                  class="btn-bg" target="_blank">Coming Soon!</a>
              </td>
            </tr>
            <tr>
              <td>Mac Apple Silicon</td>
              <td>
                <a href="https://github.com/zasper-io/zasper/releases/download/v0.0.1/zasper-0.0.1-mac.zip"
                  class="btn-bg" target="_blank">Coming Soon!</a>
              </td>
            </tr>
            <tr>
              <td>Linux Debian</td>
              <td>
                <a href="https://github.com/zasper-io/zasper/releases/download/v0.0.1/zasper-0.0.1-linux.zip"
                  class="btn-bg" target="_blank">Coming Soon!</a>
              </td>
            </tr>
            <tr>
              <td>Linux</td>
              <td>
                <a href="https://github.com/zasper-io/zasper/releases/download/v0.0.1/zasper-0.0.1-linux.zip"
                  class="btn-bg" target="_blank">Coming Soon!</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>


{% include nav.html %}

{% include footer.html %}