{% include header.html %}

<div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6">
          <div class="header-text wow fadeInUp" data-wow-delay="0.2s">
            <h3 class="font-h3 fontw-300">an Opensource IDE</h3>
            <h1 class="font-h1 fontw-500">Built in Go!</h1>
            <p class="font-p">
                The new generation of IDEs will need massive concurrency for AI workloads. Zasper strives to solve that.
            </p>  
            <p class="font-p"><strong>Just a hobby project!</strong>
            </p>
            <div class="header-form wow fadeInUp" data-wow-delay="0.2s">
               <a href="https://github.com/zasper-io/zasper" class="custom-btn btn-bg hover-bg" id="banner-signup">Checkout on Github</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <div class="header-image wow fadeInUp" data-wow-delay="0.4s">
            <img src="/static/images/header-image.svg" alt="#">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
